* {
  padding: 0px;
  margin: 0px;
}

:root {
  --primary-color: #3b3b57;
  --secundary-color: #363650;
  --ternary-color: #89b9c9;
  --white-color: white;
}

/* header {
  background-color: var(--secundary-color);
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

#img-header {
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0px 20px;
} */
